body{
	font-family: 'Marck Script', cursive;
}
nav{
	font-family: 'Rochester', cursive;
}

.jumbotron {
	background: url('IdentityV1.png');
	padding: 50px;
	color: red;
	font-family: 'Gloria Hallelujah', cursive;
}

.jumbotron h1 {
	color: red;
}

#col1{
	background-color: lightblue;
}

#col2{
	background-color: lightpink;
}

#col3{
	background-color: gray;
}

.col-sm-4 img {
	width: 100%;
}

.item img{
	width: 50%;
	margin-left: 25%;
	font-family: 'Permanent Marker', cursive;
}

#messageform{
	padding: 30px 8%;
	background: linear-gradient(45deg, #717171, #717171, #f3cd4b, #f55096, #f04a5f);
	color: lavender;
}

#name {
	background-color: navy;
}

textarea{
	resize: none;
	margin-bottom: 20px;
	background-color: navy;
}
#Submit{
	transition-duration: 0.3s;
	display: block;
	font-family: 'Rochester', cursive;
}
#Submit:hover {
	background-color: purple;
	color: silver; 
	transform: scale(1.5) rotateX(360deg);
}
#Click{
	transition-duration: 0.3
	font-family: 'Rochester', cursive;
}
#Click:hover {
	background-color: beige;
	color: teal;
	transform: scale(2);
}

@media only screen and (max-width: 768px){
	.navbar{
		background-color: tan;
	}
	h1{
		font-size: 20px;
	}
	.item img{
		width: 100%;
	}
}
